<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Headphones - Headphones Hub</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1>Explore Our Headphones</h1>
        <div class="post-container">
            <div class="post">
                <img src="https://m.media-amazon.com/images/I/41M7sHrx90L._AC_UF894,1000_QL80_.jpg" alt="Sony WH-1000XM5">
                <h2>Sony WH-1000XM5</h2>
                <p>Price: $296.99</p>
                <a href="/brand/1" class="link">View Details</a>
            </div>
            <div class="post">
                <img src="https://m.media-amazon.com/images/I/513SArZRYRL.jpg" alt="Bose QuietComfort 45">
                <h2>Bose QuietComfort 45</h2>
                <p>Price: $329.99</p>
                <a href="/brand/2" class="link">View Details</a>
            </div>
            <div class="post">
                <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/airpods-max-select-202409-blue_FV1_FMT_WHH?wid=752&hei=636&fmt=jpeg&qlt=90&.v=1725492894477" alt="Apple AirPods Max">
                <h2>Apple AirPods Max</h2>
                <p>Price: $549.00</p>
                <a href="/brand/3" class="link">View Details</a>
            </div>
        </div>
        <a href="/" class="link">Back to Home</a>
    </div>
</body>
</html>
